html, body {
  margin: 0;
  background: #333;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
}

aside {
  position: relative;
  width: 300px;
  padding: 1rem;
}

#game-text {
  display: block;
  width: 100%;
  resize: none;
  margin-bottom: 1rem;
  background: #333;
  color: #fff;
  font-size: 1rem;
  border: 1px solid #999;
  padding: .375em .5em;
}

#current-player-text {
  color: #fff;
  margin-bottom: 1rem;
}

#next {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;

  display: block;
  width: 100%;
  padding: .5em 1em;
  background: #f00;
  color: #fff;
  font-size: 1rem;
}

#die {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  border-radius: 10%;
  font-size: 1.5rem;
  font-weight: bold;
  width: 4rem;
  height: 4rem;
  margin: 0 auto 1rem;
}

#die.is-hidden {
  display: none;
}

#board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
  max-height: 100vh;

  grid-gap: 2px;
  padding: 2px;

  font-size: 11px;
  text-align: center;
  border-collapse: collapse;
}

.field {
  background: #ddd;
  padding: .5em 1em 1em;
  position: relative;
}

.field .number {
  display: block;
  font-weight: bold;
  font-size: .875em;
}

.field.is-start,
.field.is-finish,
.field.is-empty {
  padding: 1em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}

.field.is-finish {
  background: #f00;
  color: #fff;
}

.field.is-start .number,
.field.is-finish .number {
  display: none;
}

.field.is-empty .text {
  display: none;
}

.player {
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
}

.player:nth-of-type(1) {
  top: .25rem;
  left: .25rem;
}

.player:nth-of-type(2) {
  top: .25rem;
  right: .25rem;
}

.player:nth-of-type(3) {
  bottom: .25rem;
  right: .25rem;
}

.player:nth-of-type(4) {
  bottom: .25rem;
  left: .25rem;
}

.player:nth-of-type(5) {
  top: .25rem;
  left: 1.75rem;
}

.player:nth-of-type(6) {
  top: .25rem;
  right: 1.75rem;
}

.player:nth-of-type(7) {
  bottom: .25rem;
  right: 1.75rem;
}

.player:nth-of-type(8) {
  bottom: .25rem;
  left: 1.75rem;
}
